/* Intro */

.compare-intro {
    text-align: center;
    margin:0;
    padding: 15px;
    padding-top: 30px;
    height: 500px;
}

    .compare-intro h1 {
        font-family: 'OCR A';
        font-size: 8rem;
        margin-bottom: 15px;
    }

    .compare-intro-error {
        color: yellow;
    }

    .compare-intro-size {
        color: mediumpurple;
    }

    .compare-intro-distance {
        color: maroon;
    }

    .compare-intro-temperature {
        color: deepskyblue;
    }

    .compare-intro-speed {
        color: limegreen;
    }

    .compare-intro p {
        font-size: 2rem;
        margin-bottom: 45px;
    }

/* Cards */

.compare-card {
    padding-top: 0px;
    height: 1000px;
    text-align: center;
}

    .compare-card h2 {
        color: white;
        font-family: 'OCR A';
        font-size:3rem;
    }

.card-image {
    width: 80%;
}

.card-image-caption {
    font-style: italic;
    margin-top: 10px;
}

.card-count {
    color: white;
    font-size: 4rem;
    font-family: 'OCR A';
}

.card-title-container {
    padding: 20px;
    margin:20px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.card-title {
    color: white;
    font-family: 'OCR A';
    font-size: 4rem;
    margin: 0;
    -webkit-text-stroke: 2px black;
}

.card-diameter, .card-distance, .card-temperature, .card-speed {
    font-style: italic;
    margin: 0;
    font-size: 1.5rem;
}

.card-diameter {
    color: mediumpurple;
}

.card-distance {
    color: maroon;
}

.card-temperature {
    color: deepskyblue;
}

.card-speed {
    color: limegreen;
}

.card-fact-container {
    border-radius: 50px;
    background-color: rgba(0,0,0,0.6);
    border: 3px solid #111;
}

.card-fact {
    color: white;
    font-size: 1.5rem;
    margin-top: 30px;
}

/* Size */

/* @media screen size - Extra Large+ */
@media only screen and (min-width: 1120px) {
}

/* @media screen size - Large+ */
@media only screen and (min-width: 992px) {
    
}

/* @media screen size - Large */
@media only screen and (min-width: 992px) and (max-width: 1199.999px) {
    .compare-intro {

    }

        .compare-intro h1 {
            font-size: 7rem;
        }

        .compare-intro p {
            font-size: 1.8rem;
        }

        .compare-card h2 {
            font-size: 2.7rem;
        }

    .card-count {
        font-size: 3.6rem;
    }

    .card-title {
        font-size: 3.6rem;
    }

    .card-diameter, .card-distance, .card-temperature, .card-speed {
        font-size: 1.35rem;
    }

    .card-fact {
        font-size: 1.35rem;
    }

    .card-image-caption {
        font-size: 0.9rem;
    }
}

/* @media screen size - Medium */
@media only screen and (min-width: 768px) and (max-width: 991.999px) {
    .compare-intro {
    }

        .compare-intro h1 {
            font-size: 6rem;
        }

        .compare-intro p {
            font-size: 1.6rem;
        }

    .compare-card h2 {
        font-size: 2.4rem;
    }

    .card-count {
        font-size: 3.2rem;
    }

    .card-title {
        font-size: 3.2rem;
    }

    .card-diameter, .card-distance, .card-temperature, .card-speed {
        font-size: 1.2rem;
    }

    .card-fact {
        font-size: 1.1rem;
    }

    .card-image {
        width: 50%;
    }

    .card-image-caption {
        font-size: 1rem;
    }

    .card-fact-container {
        width: 90%;
        margin-bottom: 30px;
    }
}

/* @media screen size - Small */
@media only screen and (min-width: 576px) and (max-width: 767.999px) {
    .compare-intro {
    }

        .compare-intro h1 {
            font-size: 4.25rem;
        }

        .compare-intro p {
            font-size: 1.3rem;
        }

    .compare-card h2 {
        font-size: 2.1rem;
    }

    .card-count {
        font-size: 2.8rem;
    }

    .card-title {
        font-size: 2.8rem;
        -webkit-text-stroke: 1px black;
    }

    .card-diameter, .card-distance, .card-temperature, .card-speed {
        font-size: 1.05rem;
    }

    .card-fact {
        font-size: 1.05rem;
    }

    .card-image {
        width: 60%;
    }

    .card-fact-container {
        width: 90%;
        margin-bottom: 20px;
        border-radius: 35px;
    }

    .card-image-caption {
        font-size: 0.8rem;
    }
}

/* @media screen size - Extra Small */
@media only screen and (max-width: 575.999px) {
    .compare-intro {
    }

        .compare-intro h1 {
            font-size: 3rem;
        }

        .compare-intro p {
            font-size: 1.2rem;
        }

    .compare-card {
        padding:0;
    }

    .compare-card h2 {
        font-size: 1.8rem;
    }

    .card-count {
        font-size: 2.4rem;
    }

    .card-title-container {
        padding: 0px;
    }

    .card-title {
        font-size: 1.8rem;
        -webkit-text-stroke: 1px black;
    }

    .card-diameter, .card-distance, .card-temperature, .card-speed {
        font-size: 0.9rem;
    }

    .card-fact {
        font-size: 0.9rem;
    }

    .card-image {
        width: 100%;
    }

    .card-fact-container {
        width: 90%;
        margin-bottom: 20px;
        border-radius: 25px;
    }

    .card-image-caption {
        font-size: 0.8rem;
    }
}
