html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  background-color: black;
}

body {
    min-height: 100%;
    max-width: 100%;
    background-color: black;
}

p {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.error-page p, .compare-intro p {
    font-size: clamp(12px, 10px + 1.2vw, 32px);
}

h1 {
    font-family: 'OCR A';
    font-size: clamp(32px, 18px + 6vw, 120px);
    margin-bottom: 15px;
}

a {
    color: white;
}

a:hover {
    color: darkgoldenrod;
}

/* Presets */

/* Shared Layout */

#shared-layout-body {
    min-height: 500px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: calc(100% - 150px);
    float: left;
    background-color: black;
}

.view-body {
    background-image: url(../../public/img/back.png);
    background-size: 25%;
    min-height: 800px;
    padding: 30px;
}

/* 404 Page */

.error-intro {
    color: yellow;
}

/* Footer */

.footer {
    display: flex;
    width: calc(100% - 150px);
    margin-left: 150px;
    background-color: black;
}

.footer-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: clamp(11px, 5px + 1vw, 14px);
}

.footer-top a {
    padding:15px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-logo {
    height: 45px;
}

.active-footer-link {
    text-transform: uppercase;
    color: black !important;
    background-color: darkgoldenrod;
    border-radius: 5px;
}

.footer-link {
    font-family: 'OCR A';
    text-decoration: none;
    color: white;
}

.footer-size a:hover {
    color: mediumpurple;
}

.footer-distance a:hover {
    color: maroon;
}

.footer-temperature a:hover {
    color: deepskyblue;
}

.footer-speed a:hover {
    color: limegreen;
}

.footer-size .active-footer-link {
    background-color: mediumpurple;
}

.footer-distance .active-footer-link {
    background-color: maroon;
}

.footer-temperature .active-footer-link {
    background-color: deepskyblue;
}

.footer-speed .active-footer-link {
    background-color: limegreen;
}

.footer-sublink {
    text-decoration: none;
    text-transform: uppercase;
    color: dimgrey;
}

    .active-footer-link:hover, .footer-sublink:hover {
        color: white;
    }

/* @media screen size - Extra Large+ */
@media only screen and (min-width: 1120px) {

}

/* @media screen size - Large+ */
@media only screen and (min-width: 992px) {

}

/* @media screen size - Large */
@media only screen and (min-width: 992px) and (max-width: 1199.999px) {
    
}

/* @media screen size - Medium */
@media only screen and (min-width: 768px) and (max-width: 991.999px) {
    
    .view-body {
        padding: 4px;
        padding-top: 30px;
    }
}

/* @media screen size - Small */
@media only screen and (min-width: 576px) and (max-width: 767.999px) {
    
    .view-body {
        padding: 4px;
        padding-top: 30px;
    }
    
    #shared-layout-body {
        width: calc(100% - 130px);
    }

    .footer {
        width: calc(100% - 130px);
        margin-left: 130px;
    }
}

/* @media screen size - Extra Small */
@media only screen and (max-width: 575.999px) {
    
    .view-body {
        padding: 4px;
        padding-top: 30px;
    }

    #shared-layout-body {
        width: calc(100% - 130px);
    }

    /* Footer */

    .footer {
        width: calc(100% - 130px);
        margin-left: 130px;
    }

    .footer-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
    }

    .footer-top a {
        padding: 10px;
        margin: 2.5px;
    }

    .footer-logo {
        height: 35px;
    }

    .footer-bottom span {
        font-size: 0.8rem;
    }
}


